@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Kaisei+Opti&display=swap');

@import "./mixin.scss";
@import "./variables.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;  
}

a {
    text-decoration: none;
    color: inherit;
}

#app{
    background: gainsboro;
    @include size( 375px, 5100px);
    display: flex;
    flex-direction: column;
    margin-left: 400px;
}

.container{
    background-image: url('../images/banner.png');
    background-size:cover ;
    height: 476px;

    header{
        display: flex;
        @include flexbox (row, space-between, start,$pading-l, 375px);
    
        .logo{
            @include font ($font-size-l,$inter-font-family,$primari-text-color);
        }
    
        .menu-wrapper{
            display: flex;
            flex-direction: column;
    
            .menu{
                width: 18px;
                color: $primari-text-color;
                margin: 1px;
                border: none;
                border-bottom:2px solid  $primari-text-color;
            }
        }
    }

    .banner{
        display: flex;
        @include flexbox (column, start, start, $pading-l , 375px);

        &-title{
            @include font ($font-size-xxl,$kaiseiOpti-font-family,$primari-text-color);
        }

        &-description{
            @include font ($font-size-s, $assistant-font-family, $primari-text-color);
            margin-top: $margin-s;
        }
    }
}

.aside{
    background-image: url('../public/images/banner-2.png');
    background-size:cover ;
    width:375px ;
    height: 165px;

    .play{
        width: 20px;
        height: 20px;
        position: relative;
        margin-top: 20%;
        margin-left: 50%;
    }
}

.about{
    display: flex;
    @include flexbox (column, start, start, $pading-l, 375px);
    background: $secondary-bg-color;

    &-title{
        @include font($font-size-xl,$kaiseiOpti-font-family,$primari-text-color);
        margin-top: $margin-s;
    }

    &-paragraph{
        @include font ($font-size-s,$assistant-font-family,$primari-text-color);
        margin-top: $margin-s;
    }

    &-img{
        @include size (296px, 130px) ;
        margin-top: $margin-s;
    }
}

.directions{
    display: flex;
    @include flexbox (column, start, start, $pading-l, 375px);
    background: $secondary-bg-color;

    &-title{
        @include font($font-size-xl,$kaiseiOpti-font-family,$primari-text-color);
    }

    .paragraph-title{
        @include font($font-size-m,$assistant-font-family,$primari-text-color);
        margin-top:  $margin-s;

       
    }

    .gray{
        color:$third-text-color;
    }

    

    .paragraph{
        @include font($font-size-s,$assistant-font-family,$primari-text-color);
        margin-top:  $margin-s;
    }

    &-img{
        @include size (296px, 92px) ;
        margin-top: $margin-s;
    }
    
}    


   


