@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Kaisei+Opti&display=swap');

@import "./mixin.scss";
@import "./variables.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

fieldset{
    border: none;
}

li {
    list-style-type: none;  
}

a {
    text-decoration: none;
    color: inherit;
}

#app{
    background: gainsboro;
    @include size( 375px, 5100px);
    display: flex;
    flex-direction: column;
    margin-left: 400px;
}

.container{
    background-image: url('../images/banner.png');
    background-size:cover ;
    height: 476px;

    header{
        display: flex;
        @include flexbox (row, space-between, start,$pading-l, 375px);
    
        .logo{
            @include font ($font-size-l,$inter-font-family,$primary-text-color);
        }
    
        .menu-wrapper{
            display: flex;
            flex-direction: column;
    
            .menu{
                width: 18px;
                color: $primary-text-color;
                margin: 1px;
                border: none;
                border-bottom:2px solid  $primary-text-color;
            }
        }
    }

    .banner{
        display: flex;
        @include flexbox (column, start, start, $pading-l , 375px);

        &-title{
            @include font ($font-size-xxl,$kaiseiOpti-font-family,$primary-text-color);
        }

        &-description{
            @include font ($font-size-s, $assistant-font-family, $primary-text-color);
            margin-top: $margin-s;
        }
    }
}

.aside{
    background-image: url('../images/banner-2.png');
    background-size:cover ;
    width:375px ;
    height: 165px;

    .play{
        width: 20px;
        height: 20px;
        position: relative;
        margin-top: 20%;
        margin-left: 50%;
    }
}

.about{
    display: flex;
    @include flexbox (column, start, start, $pading-l, 375px);
    background: $secondary-bg-color;


    &-title{
        @include font($font-size-xl,$kaiseiOpti-font-family,$primary-text-color);
        margin-top: $margin-s;
    }

    &-paragraph{
        @include font ($font-size-s,$assistant-font-family,$secondary-text-color);
        margin-top: $margin-s;
    }

    &-img{
        @include size (296px, 130px) ;
        margin-top: $margin-s;
    }
}

.directions{
    display: flex;
    @include flexbox (column, start, start, $pading-l, 375px);
    background: $secondary-bg-color;

    &-title{
        @include font($font-size-xl,$kaiseiOpti-font-family,$primary-text-color);
    }

    .paragraph-title{
        @include font($font-size-m,$assistant-font-family,$primary-text-color);
        margin-top:  $margin-s;
    }

    .gray{
        color:$third-text-color;
    }

    .paragraph{
        @include font($font-size-s,$assistant-font-family,$secondary-text-color);
        margin-top:  $margin-s;
    }

    &-img{
        @include size (296px, 92px) ;
        margin-top: $margin-s;
    }
}  
    
.trainers{
    display: flex;
    @include flexbox (column, center ,center, $pading-l, 375px);
    background: $secondary-bg-color;

    .title{
        @include font($font-size-xl,$kaiseiOpti-font-family,$primary-text-color); 
    }

    .photo{
        @include size (296px, 322px) ;
        margin-top: $margin-s;
    }

    .name{
        @include font($font-size-m,$assistant-font-family,$primary-text-color);
        margin-top: $margin-s;
    }

    .arrow-wrapper{
        @include flexbox (row, end ,center, $pading-l, 375px);

        .arrow-text{
            @include font($font-size-xs,$assistant-font-family,$primary-text-color);
            margin-right:$margin-xs;
        }

        .arrow{
            display: flex;
            width: 30px;
        }
    }
}

.groups{
    @include flexbox (column, start ,start, $pading-l, 375px);
    padding-top: 0;
    background: $secondary-bg-color;

    .title{
        @include font ($font-size-xl,$kaiseiOpti-font-family,$secondary-text-color);
    }

    .group-img{
        @include size (296px, 211px) ;
        margin-top: $margin-m;
    }

    .text-wrapper{
        position: relative;
        margin-left: $margin-xs;
        margin-top: -100px;

        .text{
            @include font ($font-size-m,$assistant-font-family,$secondary-text-color);
            margin-top: 20px;
           
        }
    }

    .arrow-wrapper{
        @include flexbox (row, end ,center, $pading-l, 335px);
        margin-top: $margin-s;

        .arrow-text{
            @include font($font-size-xs,$assistant-font-family,$primary-text-color);
            margin-right:$margin-xs;
        }

        .arrow{
            display: flex;
            width: 30px;
        }
    }
}

.get-in-touch{
    @include flexbox( column, start,start,$pading-l,375px);
    padding-top: 0px;
    background: $secondary-bg-color;

    .form-wrapper{

        .title{
            @include font($font-size-xl,$kaiseiOpti-font-family,$primary-text-color);
            display: flex;
            justify-content: center;
        }
        .form{
            margin-top: $margin-xs;
            
            .input{
                background: inherit;
                width: 296px;
                margin-top: $margin-s;
                border: none;
                border-bottom: 1px solid $primary-text-color;
                padding: 5px;
               
            }

            .agreement{
                margin-top: $margin-m;
                display: flex;
                

                .input{
                    @include size (0px,0px);
                    margin-top: 0px;
                }

                .check{
                    @include size (20px,20px);
                    position: relative;
                }

                .input-agreement{
                    @include font($font-size-s,$assistant-font-family,$primary-text-color);
                    display: flex;
                    margin-left: $margin-xs;
                }
            }

            .button-wrapper{
                display: flex;
                justify-content: center;
                margin-top: 20px;
               
               
                .button{
                    background: inherit;
                    border: none;
                    @include font ($font-size-l,$assistant-font-family,$primary-text-color);
                }

                .arrow{
                    width: 30px;
                    height: 4px;
                    margin-top: $margin-xxs;
                    margin-left: $margin-xs;
                }
            }
        }
    }

    .line{
        width: 296px ;
        border: none;
        border-bottom: 1px solid $secondary-text-color;
        margin-top: $margin-xxl;
    }
}

footer{
    display: flex;
    flex-direction: column;
    background: $secondary-bg-color;

    .section{
        display: flex;
        margin-left: 40px
    }

    .logo{
        @include font ($font-size-l,$inter-font-family,$primary-text-color);
        width: 20%;
    }

    .footer-nav{
        display: flex;
        @include flexbox(column, center ,center,0px, 100%);
        margin-right: 100px;

        .nav-link {
            @include font($font-size-s,$kaiseiOpti-font-family,$secondary-text-color);
            margin-top: 20px;
        }
        .nav-link:first-child,.content:first-child{
            margin-top: 0px;
        }

        .contact-wrapper{
            width: 45px;
            display: flex;
            justify-content: space-between;

            .contact{
                width: 15px;
                margin-top: 30px;
            }
        }

        .content{
            @include font($font-size-s,$assistant-font-family,$secondary-text-color);
            margin-top: 20px;
        }
    }
   
    .end{
        display: flex;
        justify-content: center;
        padding: 60px;
        @include font($font-size-s,$assistant-font-family,$primary-text-color);
    }
}


   


