//  BG

$primari-bg-color: #000000;
$secondary-bg-color: black;
$third-bg-color: bodt;

// TEXT-COLOR

$primari-text-color: #FFFFFF;
$secondary-text-color: #D9D9D9;
$third-text-color: #383838;

// FONTS-FAMILY

$primary-font-family: 'Inter', sans-serif;
$secondary-font-family: 'Kaisei Opti', serif;
$third-font-family: 'Assistant', sans-serif;

// FONT-SIZE

$font-size-xxl: 40px;
$font-size-xl: 20px;
$font-size-l: 18px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;

// PADINGS

$pading-xxl: 80px;
$pading-xl: 60px;
$pading-l: 40px;
$pading-m: 30px;
$pading-s: 20px;
$pading-xs: 10px;
$pading-xxs: 8px;
$pading-xxxs: 5px;

// MARGINS

$margin-xxl: 80px;
$margin-xl: 60px;
$margin-l: 40px;
$margin-m: 30px;
$margin-s: 20px;
$margin-xs: 10px;
$margin-xxs: 8px;
$margin-xxxs: 5px;


